body {
    font-family: 'Poppins', sans-serif;
}

.elearning-bg-info{
    background-color:#F4FAFD;
    ;
}
.learning-title {
    font-size: 4rem;
    font-weight: 600;
    
}

.text-justify{
    text-align: justify;
}