body {
    font-family: 'Poppins', sans-serif;
}

.elearning-bg-info{
    background-color:#F4FAFD;
    ;
}
.learning-title {
    font-size: 3rem;
    font-weight: 600;
}


.text-justify{
    text-align: justify;
}

.s-icons{
    font-size: 1.5rem;
    padding: 10px;
    animation: coloring 4s ease-in-out .5s infinite alternate;
}


@keyframes coloring {
    0% {
        color: maroon;
        
    }

    25% {color: dodgerblue;}
    50% {color: red;}
    100% {color: skyblue;}

}

/* Mobile Devices */
@media  only screen and (max-width:576px) {

    .learning-title{
        font-size: 16px;
    
    }
    .tech-anchor {
        margin-bottom: 0px;
        padding:2;
        font-size: 12px;
    }
    
    
    .tech-cc p{
        text-overflow: ellipsis;
        overflow: hidden;
        width: 200px;
        white-space: nowrap;
    }
    .course-image img{
        width: 100%;
    }

}
    
/* Tab Device */
@media  only screen and (min-width:577px) and (max-width:992px) {

    .learning-title{
        font-size: 24px;
    
    }
    .tech-anchor {
        margin-bottom: 20px;
        padding:2;
        font-size: 12px;
    }
   
    
    .tech-cc p{
        text-overflow: ellipsis;
        overflow: hidden;
        width: 300px;
        white-space: nowrap;
    }
    .course-image img{
        width: 100%;
    }

}
